<footer class="footer">
  <a class="footer__button" href="#pagetop">
    <img
      class="footer__button--img"
      src="./assets/images/ico-arrow.svg"
      alt="go-up"
    />
  </a>

  <div class="footer__flex">
    <nav class="footer__flex--nav1">
      <ul>
        <a href="https://adalab.es"><li>ARTICLES</li></a>
        <a href="https://adalab.es"><li>BOOKS</li></a>
        <a href="https://adalab.es"><li>EVENTS</li></a>
        <a href="https://adalab.es"><li>REASONS</li></a>
        <a href="https://adalab.es"><li>TIPS</li></a>
      </ul>
    </nav>
    <nav class="footer__flex--nav2">
      <ul>
        <a href="https://adalab.es"><li>TWITTER</li></a>
        <a href="https://adalab.es"><li>INSTAGRAM</li></a>
        <a href="https://adalab.es"><li>MASTODON.SOCIAL</li></a>
      </ul>
    </nav>
    <div class="footer__flex--end">
      <p>©2023</p>
      <p>we <span class="specialtext">❤︎</span> components</p>
    </div>
  </div>

</footer>