<footer class="footer">
  <a class="footer__button" href="#pagetop">
    <img
      class="footer__button--img"
      src="./assets/images/ico-arrow.svg"
      alt="go-up"
    />
  </a>

  <div class="footer__flex">
    <nav class="footer__flex--nav1">
      <ul>
        <li><a href="https://adalab.es">ARTICLES</a></li>
        <li><a href="https://adalab.es">BOOKS</a></li>
        <li><a href="https://adalab.es">EVENTS</a></li>
        <li><a href="https://adalab.es">REASONS</a></li>
        <li><a href="https://adalab.es">TIPS</a></li>
      </ul>
    </nav>
    <nav class="footer__flex--nav2">
      <ul>
        <li><a href="https://adalab.es">TWITTER</a></li>
        <li><a href="https://adalab.es">INSTAGRAM</a></li>
        <li><a href="https://adalab.es">MASTODON.SOCIAL</a></li>
      </ul>
    </nav>
    <div class="footer__flex--end">
      <p>©2023</p>
      <p>we <span class="specialtext">❤︎</span> components</p>
    </div>
  </div>

</footer>