<section class="s2">
  <h2 class="s2__title">3 Reasons To Purchase</h2>

  <div class="s2__gridbox">
    <article class="s2__gridbox--box1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="s2__gridbox--box2">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="s2__gridbox--box3">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>

  <a class="s2__button1" href="https://adalab.es">More reasons</a>
</section>
