// fonts
  $font-main: 'Roboto', sans-serif;
  $font-title: 'Roboto Slab', serif;

// colors
  $dark-grey-blue: #304268;
  $greyish-brown: #4a4a4a;
  $lightblue: #8ccbea;
  $white: #fff;
  $ice-blue: #eff9ff;
  $black: #000;
  $bright-orange: #f26002;
  $menu-color: #0271bc;