.footer {
    margin-top: -50px;
    padding: 60px 15px 45px;
    background-color: $dark-grey-blue;

    &__button {
        background-color: $white;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: -84px;
        box-shadow: 0 2px 4px 0 $black;

        &--img {
            width: 20px;
        }
    }

    &__flex {
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
        font-size: 1.6rem;
        margin-top: 27.5px;
    
        &--nav1 {
        line-height: 1.88;
            a {
                text-decoration: none;
                color: $white;
                li {
                    list-style: none;
                    font-size: 1.6rem;
                }
            }
        }

        &--nav2 {
            line-height: 1.88;
                a {
                    text-decoration: none;
                    color: $white;
                    li {
                        list-style: none;
                        font-size: 1.6rem;
                    }
                }
        }

        &--end {
            p {
            font-size: 1.4rem;
            line-height: 2.14;

                .specialtext {
                    color: $bright-orange;
                }
            }
        }
    }
}

@media all and (min-width: 768px) {
    .footer {
        &__flex {
            display: flex;
            flex-direction: row;
            text-align: left;

            &--nav1 {
                order: 2;
                width: 210px;
            }
        
            &--nav2 {
                order: 3;
                width: 210px;
            }
        
            &--end {
                order: 1;
                width: 210px;
            }
        }
    }
}

@media all and (min-width: 1280px) {
    .footer {
        &__flex {
            &--nav1 {
                width: 161px;
            }
        
            &--nav2 {
                width: 159px;
            }
        
            &--end {
                width: 159px;
            }
        }
    }
}