.hero {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black;
    height: 100vh;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 53px;

    &__title {
        font-family: $font-title;
        font-size: 4.2rem;
        text-transform: uppercase;
        padding-bottom: 10px;
        text-align: center;
        width: 290px;
    }

    &__subtitle {
        font-size: 1.6rem;
        padding-bottom: 45px;
    }

    &__button {
        background-color: $white;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &--img {
            width: 20px;
        }
    }
}

@media all and (min-width: 768px) {
    .hero {
        padding-bottom: 45px;
    
        &__title {
            font-size: 8rem;
            width: 690px;
        }

        &__subtitle {
            font-size: 2.4rem;
            padding-bottom: 30px;
        }
    }
}

@media all and (min-width: 1280px) {
    .hero {
        padding-bottom: 13px;
    
        &__title {
            font-size: 10rem;
            width: 730px;
        }

        &__subtitle {
            padding-bottom: 30px;
        }
    }
}