.s2 {
    background-color: $ice-blue;
    padding: 30px 15px;
    text-align: center;
    padding-bottom: 105px;

    &__title {
        font-family: $font-title;
        font-size: 2.4rem;
        padding-bottom: 45px;
    }

    &__gridbox {
        padding-bottom: 45px;
        justify-content: center;
        display: grid;
        grid-template-rows: 93px 93px 93px;
        grid-template-columns: 180px;
        grid-gap: 45px;

        h3 {
            font-family: $font-title;
            font-size: 1.8rem;
            line-height: 1.67;
        }

        p {
            font-size: 1.8rem;
            line-height: 1.67;
        }
    }

    &__button1 {
        width: 184px;
        height: 45px;
        background-color: $bright-orange;
        border-radius: 22.5px;
        color: $white;
        font-size: 2.0rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2.25;
        margin: auto;

        &:hover {
            background-color: $dark-grey-blue;
            color: $bright-orange;
            transition: 1s;
        }
    }
}

@media all and (min-width: 768px) {
    .s2 {
        &__title {
            font-size: 2.6rem;
        }

        &__gridbox {
            grid-template-rows: 112px;
            grid-template-columns: 1fr 1fr 1fr;
            padding-bottom: 60px;

            h3 {
                font-family: $font-title;
                font-size: 2.4rem;
                padding-bottom: 14px;
            }

            p {
                font-size: 2rem;
            }
        }

        &__button1 {
            width: 210px;
        }
    }
}

@media all and (min-width: 1280px) {
    .s2 {
        padding-left: 81.2px;
        padding-right: 85px;
        padding-top: 60px;

        &__title {
            font-size: 3.2rem;
        }

        &__button1 {
            width: 255px;
        }
    }
}